<div class="container well" >
<p><%= link_to 'back',:back %></p>
<h3> Here are your emails from <%= @messages.first.email_from %>!</h3>
<table class="table table-striped">
  <tr>
    <td> #Date </td>
    <td> #Subject</td>
  </tr>
  <% @messages.each do |mail|%>
      <tr>
        <td><%= mail.recieved_date %></td>
        <td><%= link_to "#{mail.snippet}", show_email_path(mail.message_id), {:target=> "open_here"} %></td>
      </tr>
  <% end %>
</table>
  <iframe id="open_here" name="open_here" scrolling="yes" frameborder="0" onload='javascript:resizeIframe(this);'></iframe>
</div>
<script language="javascript" type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
    }
</script>

